
<div class="container main-container">
  <h1>Administrar productos</h1>
  <hr><hr>
  <a routerLink="/admin/producto/registrar" class="btn btn-primary">Nuevo producto</a>
<br>
<hr>
<div  class="table-responsive ">

    <table *ngIf="productos"  datatable [dtOptions]="dtOptions" class="table table-hover table-bordered">
      <thead>
        <tr class="text-center">
          <th  class="align-middle">ID</th>
          <th class="align-middle">Nombre</th>
          <th class="align-middle">Codigo</th>
          <th class="align-middle">Precio Uni</th>
          <th class="align-middle">Precio x Mayor</th>
          <th class="align-middle">Costo</th>
          <th class="align-middle">Proveedor</th>
          <th class="align-middle">Cantidad</th>
          <th class="align-middle">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <th class="align-middle text-center" scope="row">{{producto.id}}</th>
          <td class="align-middle">{{producto.nombre}}</td>
          <td class="align-middle">{{producto.codigo}}</td>
          <td class="align-middle text-right">{{producto.precioUnidad | currency:'$':true:'4.0-0'}}</td>
          <td class="align-middle text-right">{{producto.precioDocena}}</td>
          <td class="align-middle text-right">{{producto.costoCompra}}</td>
          <td class="align-middle text-right">{{producto.proveedores.nombre}}</td>
          <td class="align-middle text-right">{{producto.cantidad}}</td>
          <td class="align-middle"><button type="button" (click)="verProducto(producto.id)" class="btn  btn-outline-secondary btn-block ">Editar</button></td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div>
  </div>
