<h2>Gestionar clientes <small></small></h2>
<hr>
<h3>{{title}}</h3><br>
<div class="alert alert-danger" *ngIf="status_cliente == 'error'"role="alert">
  El cliente no se ha guardado, intentalo de nuevo.
</div>
<div class="container">
  <form (ngSubmit)="guardar(forma)" #forma="ngForm" >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cedula">Cedula</label>
        <input type="text" class="form-control" [ngClass]="{'is-invalid': (cedula.errors?.pattern
        || cedula.errors?.minlength || cedula.errors?.required) && cedula.touched }"
        placeholder="Cedula" name="cedula" [(ngModel)]="cliente.cedula" required minlength="9" maxlength="10"
        pattern="([0-9]*)"  #cedula="ngModel">
        <div *ngIf="cedula.errors?.required" class="invalid-feedback">
          Este campo es requerido.
        </div>
        <div *ngIf="cedula.errors?.pattern" class="invalid-feedback">
          Los cedula solo poseen numeros (digite el cedula sin guion).
        </div>
        <div *ngIf="cedula.errors?.minlength" class="invalid-feedback">
          Por lo menos {{cedula.errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputNombre">Nombre</label>
        <input class="form-control" [ngClass]="{'is-invalid': (nombre.errors?.pattern
        || nombre.errors?.minlength || nombre.errors?.required) && nombre.touched }"
        type="text" placeholder="Nombre" name="nombre" [(ngModel)]="cliente.nombre" required minlength="3"
          pattern="[A-Za-z]*" #nombre="ngModel">
        <div class="invalid-feedback">
          <div *ngIf="nombre.errors?.required">
            Este campo es requerido.
          </div>
          <div *ngIf="nombre.errors?.pattern">
            Los nombres solo poseen letras.
          </div>
          <div *ngIf="nombre.errors?.minlength">
            Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTelefono">Telefono</label>
        <input class="form-control" [ngClass]="{'is-invalid': (telefono.errors?.pattern  ||
        telefono.errors?.required || telefono.errors?.minlength) && telefono.touched }" type="text" placeholder="Telefono"
        [(ngModel)]="cliente.telefono" name="telefono" required minlength="7" maxlength="10"
          pattern="[0-9]*" #telefono="ngModel">
        <div *ngIf="telefono.errors?.required" class="invalid-feedback">
          Este campo es requerido.
        </div>
        <div *ngIf="telefono.errors?.pattern" class="invalid-feedback">
          Los telefonos solo poseen numeros.
        </div>
        <div *ngIf="telefono.errors?.minlength" class="invalid-feedback">
            Por lo menos {{telefono.errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputpellido">Apellido</label>
        <input class="form-control" [ngClass]="{'is-invalid': (apellido.errors?.required )
        && apellido.touched }" type="text" placeholder="Apellido" name="apellido"
        [(ngModel)]="cliente.apellido" required #apellido="ngModel">
        <div *ngIf="apellido.errors?.required" class="invalid-feedback">
          Este campo es requerido.
        </div>
      </div>
    </div>
  <button  [disabled]="!forma.valid" type="submit" class="btn btn-primary">Editar cliente</button>
  </form>
</div>
